---
import Layout from "../layouts/Layout.astro";
import Paragraph from "../components/Paragraph.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro Demo</h1>
    <Paragraph text="mon composant paragraphe" color="blue" />
  </main>
</Layout>