---
import ContentBlock from "../components/ContentBlock.astro";
import Paragraph from "../components/Paragraph.astro";
import VideoGames from "../components/VideoGames.astro";
import Layout from "../layouts/Layout.astro";

const firstParagraph = {
  text: "<strong>Hello World ! </strong>",
  color: "blue",
};
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Astro Demo</h1>
    <Paragraph text={firstParagraph.text} color={firstParagraph.color} />
    <VideoGames />
    <ContentBlock title="bloc de contenu">
      <p>Un paragraphe injecté dans mon bloc de contenu.</p>
    </ContentBlock>
  </main>
</Layout>
