---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<article>
  <h2>{title}</h2>
  <slot name="before-content" />
  <slot />
  <slot name="after-content" />
</article>
